body {
    padding-top: 5rem;
}
.starter-template {
    padding: 3rem 1.5rem;
    text-align: center;
}
span.event{
    display: block;
    margin: 2px;
}
span.saturday{
    color: #71dd8a;
}
span.sunday{
    color: #a76ac9;
}
td.empty{
    background: #c3c3c3;
}